<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px">
  
  <div  class="text-right mb-4" color="primary">
    <span class="flex-spacer"></span>
    <a mat-button (click)="logout()"><span class="fa fa-sign-out fa-lg"></span>Logout</a>
  </div>

  <div class="text-right mb-4">
    <button class="btn btn-primary" (click)="openModal(popup, null)">
      <i class="fa fa-plus"></i> Add
    </button>
  </div>
    
  <div class="row" *ngIf="employeeList.length">
    <div class="col-md-3" *ngFor="let employee of employeeList">
      <div class="card">
          <div class="heading"><span style="font-family: fantasy;">Name:</span> {{employee.name}}</div>
          <div class="sub-heading"><span style="font-family: fantasy;">Email:</span> {{employee.email}}</div>
          
          <div class="icon">
            <i class="fa fa-edit text-primary" (click)="openModal(popup, employee.id)"></i>
            <i class="fa fa-trash text-danger" (click)="openModal(popup1, employee.id)"></i>
          </div>
      </div>
    </div>
  </div>
  
  <ng-template #popup let-d="dismiss">
    <div class="modal-header text-primary">
      {{employeeDetails ? 'Update' : 'Add'}} employee
    </div>
  
    <div class="modal-body">
      <form [formGroup]="form">
  
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="name"
                 class="form-control" [ngClass]="{'error-border': !form.get('name').valid && form.get('name').dirty}"/>
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="text" formControlName="email"
                 class="form-control" [ngClass]="{'error-border': !form.get('email').valid && form.get('email').dirty}"/>
        </div>
  
      </form>
  
      <div class="text-center">
        <button class="btn btn-primary btn-sm pl-4 pr-4 mr-2"
                [disabled]="!form.valid"
                (click)="employeeDetails ? updateEmployee(employeeDetails.id) : addEmployee(); d()">Save</button>
        <button class="btn btn-secondary btn-sm pl-4 pr-4 ml-2" (click)="d()">Cancel</button>
      </div>
    </div>
  </ng-template>

  <ng-template #popup1 let-d="dismiss">
    <div class="modal-header text-primary">
      Delet employee
    </div>
  
    <div class="modal-body">
      <p>do you want to delete this employee</p>
  
      <div class="text-center">
        <button class="btn btn-primary btn-sm pl-4 pr-4 mr-2"
                [disabled]="!form.valid"
                (click)="deleteEmployee(employeeDetails.id);d()">Yes</button>
        <button class="btn btn-secondary btn-sm pl-4 pr-4 ml-2" (click)="d()">Cancel</button>
      </div>
    </div>
  </ng-template>
  